$headerColor: seagreen;
$secondaryHc: yellow;
$borderColor: salmon;
$headerFont: "Righteous", cursive;
$paragraphFont: "Roboto", sans-serif;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@mixin centerImage {
  display: block;
  margin: 0 auto;
}

body {
  background: #d4ed9d;
}

h1,
h2 {
  @include flexCenter();

  background: $headerColor;
  color: $secondaryHc;
  border: 3px solid $secondaryHc;
  padding: 20px;
  font-weight: 700;
  border-radius: 60px;
  font-family: $headerFont;
}

p {
  font-family: $paragraphFont;
}

footer {
  .message {
    background: $secondaryHc;
    border: 2px solid $headerColor;
    border-radius: 20px;
    font-family: $headerFont;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
}

.bottom-list {
  @include flexCenter();

  background: $headerColor;
  color: $secondaryHc;
  border: 3px solid $secondaryHc;
  border-radius: 30px;
  a {
    color: $borderColor;
    &:hover {
      color: white;
    }
  }
}

.logo {
  @include centerImage();
}

.img-fluid {
  @include centerImage();

  border: 3px solid $borderColor;
  border-radius: 20px;
}

.container {
  border: 6px solid $borderColor;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
}
